.user-container{
    padding-left: 110px!important;
    padding-top: 100px;
}

.delete-button{
    margin-top: 10px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    background-color: darkturquoise;
}