.registration{
    background-color: cyan;
    text-align: center;
}
label{
    font-size: 18px;
    color: #000;
}

.register-button{
    height: 40px;
    width: 200px;
    font-size: 21px;
    background-color: lavenderblush;
}

